<a href="https://colab.research.google.com/github/kimsky22/data_-/blob/main/1_DataSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üëÄ üêæ <font color = 'red'> **Index, Series, Element(ÏõêÏÜå)**

|Index Name/label | i0 | i1 | i2 | i3 | ... | in |
|:|-|-|-|-|-|-|
|Index Value | V0 | V1 | V2 | V3 | ... | Vn |
|Integer position|0|1|2|3|...|n|

<font color = 'blue'>üëÄ üêæ Exercise**

|Index Name/label | a | b | c | d | e | f |
|:|-|-|-|-|-|-|
|Index Value | 10 | 20 | 30 | 40 | 50 | 60 |
|Integer position|0|1|2|3|4|5|

Series['c'] ‚û°Ô∏è  30

Series["c"] ‚û°Ô∏è  30

Series[2] ‚û°Ô∏è  30

Series[['d'],['e']] ‚û°Ô∏è  40, 50

Series[[3,4]] ‚û°Ô∏è  40, 50
* Ïó¨Îü¨Í∞úÏùò Ïù∏Îç±Ïä§Î•º Î¶¨Ïä§Ìä∏ ÌòïÌÉúÎ°ú ÏûÖÎ†•Ìï† ÎïåÏóêÎäî ÎåÄÍ¥ÑÌò∏ ([]) ÏïàÏóê ÎÑ£Í∏∞

Series['d':'e'] ‚û°Ô∏è  40, 50

Series[3:5] ‚û°Ô∏è  40, 50

In [1]:
import pandas as pd
list_data=['2025-01-01', 3.14, 'ABC', 100 True]
sr=pd.Series(list_data)
print(sr)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-1-13a5974091ed>, line 2)

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 1 [list data] ‚§µÔ∏è**

import pandas as pd
list_data = ['2025-01-01', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

In [2]:
!pip install pandas
import pandas as pd
dict_data={'a':1, 'b':2, 'c':3}
sr=pd.Series(dict_data)
print(type(sr))
print('\n')
print(sr)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 2 {dictionary data} ‚§µÔ∏è**

!pip install pandas
import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data)

print(type(sr)) #ÏãúÎ¶¨Ï¶à ÌÅ¥ÎûòÏä§. ÏãúÎ¶¨Ï¶àÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä ÏàúÏ∞®Ï†ÅÏúºÎ°ú ÎÇòÏó¥Îêú 1Ï∞®Ïõê Î∞∞Ïó¥
print('\n')
print(sr) #dtype: int64 (Ï†ïÏàòÌòï)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

üëÄ üêæ **list data or tuple data with [Index values separated by a comma]**

* pandas.Series() with two arguments separated by a comma
  * argument1 -> variable name
  * argument 2 -> index name

In [3]:
import pandas as pd
tuple_data=('Emma', '2000.12.25', 'Female', True)
sr=pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])
print(sr)
print(sr[0])
print(sr['Name'])

Name             Emma
DOB        2000.12.25
Gender         Female
Student          True
dtype: object
Emma
Emma

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 3 (tuple data) ‚§µÔ∏è**
import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])
print(sr)

print(sr[0])
print(sr['Name'])

Name             Emma
DOB        2000.12.25
Gender         Female
Student          True
dtype: object
Emma
Emma

üëÄ üêæ **Print part of list data**
* print([]) ÎåÄÍ¥ÑÌò∏ ÏÇ¨Ïö©
* use additional [ ] for an embedded list

In [4]:
import pandas as pd
tuple_data=('Emma', '2000.12.25', 'Female', True)
sr=pd.Series(tuple_data, index['Name', 'DOB', 'Gender', 'Student'])
print(sr[[1,2]])
print('\n')
print(sr[['DOB', 'Gender']])

NameError: name 'index' is not defined

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 4 ‚§µÔ∏è**

#@markdown <font color = 'red'> **Print part of [list data]**

import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)

 #Ï†ïÏàòÌòï ÏúÑÏπò Ïù∏Îç±Ïä§ ÎåÄÏã† Ïù∏Îç±Ïä§ Ïù¥Î¶ÑÏùÑ Îî∞Î°ú ÏßÄÏ†ï
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])

print(sr[[1,2]])
print('\n')
print(sr[['DOB','Gender']])

DOB       2000.12.25
Gender        Female
dtype: object


DOB       2000.12.25
Gender        Female
dtype: object